# node_modules folder
**/node_modules/
node_modules/

# dist & build folder
**/dist/
**/build/
dist/
build/

# .env file
**/.env
.env

# system file
**/.DS_Store
**/Thumbs.db
.DS_Store
Thumbs.db

# specify folder or file
Day03_Exercise
**/example-video/


# Cocos
**/build/
**/temp/
**/local/
**/library/
**/jsb-link/
**/jsb-adapter/
**/simulator/
**/native/
**/packages/.cache/
build/
temp/
local/
library/
jsb-link/
jsb-adapter/
simulator/
native/
packages/.cache/

**/*.apk
**/*.ipa
*.apk
*.ipa

**/*.log
*.log

**/.vscode/
**/.idea/
**/.settings/
**/*.iml
.vscode/
.idea/
.settings/
*.iml