<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pretty JSON</title>
    <style>
        .json-key    { color: brown; }
        .json-value  { color: navy; }
        .json-string { color: olive; }
        .json-number { color: teal; }
        .json-boolean { color: darkorange; }
        .json-null   { color: magenta; }
    </style>
</head>
<body>
    
    <pre><%- prettyJson %></pre>
</body>
</html>
